<!DOCTYPE html>
<html>
	<head>
		<title>Article</title>
		
		<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
		
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<script src="semantic/dist/semantic.min.js"></script>
		<style type="text/css">
			  body {
			    background-color: #FFFFFF;
			  }
			  .ui.menu .item img.logo {
			    margin-right: 1.5em;
			  }
			  .main.container {
			    margin-top: 7em;
			  }
			  .wireframe {
			    margin-top: 2em;
			  }
			  .ui.footer.segment {
			    margin: 5em 0em 0em;
			    padding: 5em 0em;
			  }
  		</style>
	</head>

	<body>
		
		{% include 'Includes/header.html' %}

		<div class="ui main text container">
			<img src="../Webroot/Img/mononoke.jpg">
			<p>Categorie</p>
			<h1 class="ui header">Titre de l'article</h1>
			<div>
				<p><span>Author</span> | <span>Date de dernière édition</span></p>
				<p>Date de création</p>
			</div>
			<div>
				<p>Tag1</p>
				<p>Tag2</p>
				<p>Tag3</p>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis elit vel arcu euismod egestas ac ut leo. Aliquam diam sapien, viverra sit amet libero id, ultricies viverra urna. Integer erat dolor, vehicula non dui eu, tincidunt dapibus tellus. Quisque maximus dolor scelerisque bibendum faucibus. Praesent risus lorem, convallis vitae molestie id, tempus eu lectus. Curabitur orci quam, euismod vitae dui nec, efficitur lacinia turpis. Mauris non risus ac sem lobortis congue. Cras viverra orci id nisl sollicitudin laoreet. In sed euismod est, in aliquet orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.

			Mauris molestie lacus a diam iaculis, non aliquet sapien gravida. Sed nec odio eget purus viverra tempus ut vitae justo. Maecenas eu risus imperdiet est aliquet scelerisque. Nam blandit odio eget interdum vehicula. Quisque quis ligula bibendum, vestibulum ante at, vestibulum mauris. Phasellus eget interdum elit, eu sagittis velit. Proin sodales elit mi, malesuada lacinia magna fermentum eget. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque augue ex, pulvinar ut sapien in, pharetra consequat libero. Integer posuere eu mi in lacinia. Quisque vitae ante pulvinar, sollicitudin diam vitae, lacinia sapien. Donec lacinia ultricies vestibulum. Maecenas laoreet consequat condimentum. Nullam lobortis, libero sed lacinia dictum, libero dui fringilla dolor, vitae consequat neque lectus eu enim. Proin eleifend diam id arcu ultricies mattis. In facilisis fermentum lacus, at scelerisque magna condimentum in.</p>
		</div>

</body>

</html
