body {
  background-color: #f7f7f7; }
  body .topContent.admin {
    padding-top: 2em;
    display: flex;
    padding-top: 75px;
    padding-bottom: 26px;
    background-image: url(../../Webroot/Img/mononoke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom; }
    body .topContent.admin .ui.search {
      display: flex;
      flex: 1; }
      body .topContent.admin .ui.search .ui.input {
        margin: 0 auto;
        width: 40%; }
  body main {
    padding: 0 3vw; }
    body main h2.ui.header {
      font-size: 1.4rem; }
    body main.admin > button.ui.button {
      margin: 21px auto 0 0;
      display: block; }
    body main.admin .userList {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5em; }
      body main.admin .userList .ui.card {
        margin: 0 20px 20px 0; }
        body main.admin .userList .ui.card .content:first-child {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          body main.admin .userList .ui.card .content:first-child:after {
            display: none; }
      body main.admin .userList form.editUser {
        display: none;
        flex-direction: column;
        padding: 1em;
        height: 100%;
        justify-content: space-between; }
        body main.admin .userList form.editUser .fields {
          flex-direction: column;
          align-items: flex-start;
          display: flex; }
          body main.admin .userList form.editUser .fields.input {
            width: 100%;
            margin: 0 auto; }
          body main.admin .userList form.editUser .fields.drop {
            display: flex;
            flex-direction: row; }
          body main.admin .userList form.editUser .fields input {
            margin-bottom: 8px; }
        body main.admin .userList form.editUser .ui.selection.dropdown {
          min-width: inherit; }
        body main.admin .userList form.editUser.visible {
          display: flex; }

.homeArticle {
  background-image: url(../../Webroot/Img/mononoke_by_etoli2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .homeArticle article > div.ui.raised {
    padding: 0; }
    .homeArticle article > div.ui.raised img {
      width: 100%; }
    .homeArticle article > div.ui.raised > div.main-content {
      padding: 2em; }
      .homeArticle article > div.ui.raised > div.main-content > div:first-child h2 {
        margin-bottom: 0.55em; }
        .homeArticle article > div.ui.raised > div.main-content > div:first-child h2:first-letter {
          text-transform: capitalize; }
      .homeArticle article > div.ui.raised > div.main-content > div:first-child p.editDate {
        color: rgba(0, 0, 0, 0.5);
        font-style: italic; }
      .homeArticle article > div.ui.raised > div.main-content > div:first-child p.author {
        margin-bottom: 0.2em; }
      .homeArticle article > div.ui.raised > div.main-content > div:first-child p.content {
        margin-top: 1em; }
      .homeArticle article > div.ui.raised > div.main-content > div:first-child .flexContainer.tags {
        display: flex;
        justify-content: space-between; }

section.login.form, section.register.form, section.settings.form {
  background-image: url(../../Webroot/Img/mononoke_by_etoli.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  section.login.form > div:first-child, section.register.form > div:first-child, section.settings.form > div:first-child {
    height: 100vh;
    margin-top: 0; }
    section.login.form > div:first-child .column, section.register.form > div:first-child .column, section.settings.form > div:first-child .column {
      width: 500px; }
      section.login.form > div:first-child .column h1, section.login.form > div:first-child .column h2, section.register.form > div:first-child .column h1, section.register.form > div:first-child .column h2, section.settings.form > div:first-child .column h1, section.settings.form > div:first-child .column h2 {
        color: white !important; }
      section.login.form > div:first-child .column h1, section.register.form > div:first-child .column h1, section.settings.form > div:first-child .column h1 {
        font-size: 3em;
        text-shadow: 1px 2px 14px rgba(0, 0, 0, 0.44); }
      section.login.form > div:first-child .column h2, section.register.form > div:first-child .column h2, section.settings.form > div:first-child .column h2 {
        margin: 10px 0 30px;
        font-weight: normal; }
      section.login.form > div:first-child .column div.checkbox, section.register.form > div:first-child .column div.checkbox, section.settings.form > div:first-child .column div.checkbox {
        display: flex;
        align-items: center;
        margin: 15px 0; }
        section.login.form > div:first-child .column div.checkbox > input, section.register.form > div:first-child .column div.checkbox > input, section.settings.form > div:first-child .column div.checkbox > input {
          display: inline-block;
          margin-right: 5px; }

body {
  background-color: #f7f7f7; }
  body .topContent.writer {
    padding-top: 2em;
    display: flex;
    padding-top: 55px;
    padding-bottom: 26px;
    background-image: url(../../Webroot/Img/mononoke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom; }
    body .topContent.writer .ui.search {
      display: flex;
      flex: 1; }
      body .topContent.writer .ui.search .ui.input {
        margin: 0 auto;
        width: 100%;
        max-width: 800px; }
  body main {
    padding: 0 3vw; }
    body main.writer {
      width: 60%;
      min-width: 1000px;
      margin: 0 auto; }
      body main.writer > button.ui.button {
        margin: 21px 0 0 auto;
        display: block; }
      body main.writer button + .items {
        margin-top: 2em; }
      body main.writer .items {
        padding: 1.5em;
        margin: 1em 0 0;
        background-color: white;
        height: 170px;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; }
        body main.writer .items .item {
          height: 100%; }
          body main.writer .items .item > .image {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 100%; }
            body main.writer .items .item > .image > img {
              height: 100%;
              width: auto; }
        body main.writer .items .article-title:first-letter {
          text-transform: uppercase; }
      body main.writer .comments {
        background-color: white;
        margin-bottom: 0.85em;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        padding: 0.8em 2em;
        text-align: right;
        color: rgba(0, 0, 0, 0.6); }
      body main.writer.create form {
        width: 100%;
        max-width: 800px;
        margin: 2em auto; }
        body main.writer.create form .buttonsContainer {
          display: flex;
          justify-content: flex-end;
          margin-top: 2em; }
          body main.writer.create form .buttonsContainer button + button {
            margin-left: 8px; }
        body main.writer.create form .ui.form .field > label {
          font-size: 1.2em;
          margin-bottom: 13px; }
        body main.writer.create form .ui.form textarea:not([rows]) {
          height: 35em;
          max-height: inherit; }
        body main.writer.create form .flexContainer {
          display: flex; }
          body main.writer.create form .flexContainer .ui.selection.dropdown {
            width: 40%; }
          body main.writer.create form .flexContainer div.button.showForm {
            margin-left: 8px; }
          body main.writer.create form .flexContainer > .flexContainer {
            flex: 1; }
            body main.writer.create form .flexContainer > .flexContainer.active {
              display: flex; }
            body main.writer.create form .flexContainer > .flexContainer.hidden {
              display: none; }
            body main.writer.create form .flexContainer > .flexContainer input {
              flex: 1; }
            body main.writer.create form .flexContainer > .flexContainer div.button {
              margin-left: 8px; }
        body main.writer.create form .ui.divider {
          margin-top: 2em; }

.ui.modal .ui.form .fields {
  padding: 2em; }
  .ui.modal .ui.form .fields .field {
    width: 33%; }

.category.movie {
  background-color: red;
  color: white; }
  .category.movie:first-letter {
    text-transform: capitalize; }

.category.book {
  background-color: blue;
  color: white; }
  .category.book:first-letter {
    text-transform: capitalize; }

.category.art {
  background-color: yellow;
  color: white; }
  .category.art:first-letter {
    text-transform: capitalize; }

.category.exposition {
  background-color: green;
  color: white; }
  .category.exposition:first-letter {
    text-transform: capitalize; }

.category.music {
  background-color: pink;
  color: white; }
  .category.music:first-letter {
    text-transform: capitalize; }

.category.food {
  background-color: orange;
  color: white; }
  .category.food:first-letter {
    text-transform: capitalize; }

.category.event {
  background-color: purple;
  color: white; }
  .category.event:first-letter {
    text-transform: capitalize; }

.hidden {
  display: none !important; }

.error {
  color: tomato; }

article {
  padding-top: 100px;
  margin-top: 0 !important; }

/*# sourceMappingURL=index.css.map */
