{% include 'Includes/head.twig' %}

<section class="login form">
	<div class="ui middle aligned center aligned grid">
	  <div class="column">
	    <h1 class="ui teal image header">
	        Nice to see you again !
	    </h1>
	    <h2>Please log in to your account</h2>

		<form class="ui large form" method="POST" action="">
			<div class="ui stacked segment">
				<p class="error">{{session['message']}}</p>
				<div class="field">
				  <div class="ui left icon input">
				    <i class="user icon"></i>
				    <input type="text" name="email" placeholder="Email address">
				  </div>
				</div>
				<div class="field">
				  <div class="ui left icon input">
				    <i class="lock icon"></i>
				    <input type="password" name="password" placeholder="Password">
				  </div>
				</div>
				<div class="checkbox">
					<input type="checkbox" name="remember_me" id="remember">
					<label for="remember">Remember me</label><br>
				</div>
				<button class="ui fluid large teal submit button primary">Login</button>
			</div>

	     

	    </form>

	    <div class="ui message">
	      New to us?&nbsp;<a href="register">Register now</a>
	    </div>
	  </div>
	</div>
</section>


{% include 'Includes/footer.twig' %}
