<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>

		<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<script src="semantic/dist/semantic.min.js"></script>
		<style type="text/css">
			 
  		</style>
	</head>

	<body>
		<p>{{session['message']}}</p>

		<section>
			<form method="POST" action="">
				<input type="text" name="email" placeholder="Email">
				<input type="password" name="password" placeholder="Password">
				
				<div class="checkbox">
					<input type="checkbox" name="remember_me" id="remember">
					<label for="remember">Remember me</label><br>
				</div>
				<button class="ui button">Log in</button>
			</form>
		</section>

	</body>

</html>
