<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>

		<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<script src="semantic/dist/semantic.min.js"></script>
		<style type="text/css">
			 
  		</style>
	</head>

	<body>

		<section>
			<form>
				<input type="text" value="email" placeholder="Email">
				<input type="text" value="password" placeholder="Password">
				<button class="ui button">Log in</button>
			</form>
		</section>

	</body>

</html>
