<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>

		<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<script src="semantic/dist/semantic.min.js"></script>
		<style type="text/css">
			 
  		</style>
	</head>

	<body>
		<p>{{session['message']}}</p>

		<section>
			<form>
				<input type="text" value="username" placeholder="username">
				<input type="email" value="email" placeholder="Email">
				<input type="password" value="password" placeholder="Create a new password">
				<input type="password" value="password_confirm" placeholder="Confirm your password">
				<button class="ui button">Create new account</button>
			</form>
		</section>

	</body>

</html>
