<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>

		<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<script src="semantic/dist/semantic.min.js"></script>
		<style type="text/css">
			 
  		</style>
	</head>

	<body>
		<p>{{session['message']}}</p>

		<section>
			<form method="POST" action="">
				<input type="text" name="add_user[name]" placeholder="name">
				<input type="email" name="add_user[email]" placeholder="Email">
				<input type="password" name="add_user[password]" placeholder="Create a new password">
				<input type="password" name="add_user[password_confirm]" placeholder="Confirm your password">
				<button class="ui button">Create new account</button>
			</form>
		</section>

	</body>

</html>
