
{% include 'Includes/head.twig' %}

{% include 'Includes/header.twig' %}

<div class="topContent writer">
	
</div>

<main class="writer create">
	<form method="POST" action="writerCreate">
		<div class="ui form">
			<!-- Title -->
		  <div class="field">
		    <label>Title</label>
		    <input type="text">
		  </div>
		  <div class="ui divider"></div>

		  <!-- Image -->
		  <div class="field">
		  	<label>Upload Image</label>
		  	<div class="flexContainer">
			  	<input type="file" name="pic" accept="image/*">
		  	</div>
		  </div>
		  <div class="ui divider"></div>

		  <!-- category -->
		  <div class="field">
		  	<label>Category</label>
		  	<div class="flexContainer">
		  		<div class="flexContainer choose active">
				  	<div class="ui selection dropdown">
						<input type="hidden" name="category">
						<i class="dropdown icon"></i>
						<div class="default text">Category</div>
						<div class="menu">
						  <div class="item">cat1</div>
						  <div class="item">cat2</div>
						  <div class="item">cat3</div>
						</div>
					</div>
					<div class="button ui showForm">New category</div>
		  		</div>
				<div class="flexContainer add hidden">
					<input type="text">	
					<div class="button ui primary">Add</div>
					<div class="button ui cancel">Cancel</div>
				</div>
		  	</div>
		  </div>

		  <!-- tag -->
		  <div class="field">
		  	<label>tag</label>
		  	<div class="flexContainer">
		  		<div class="flexContainer choose active">
				  	<div class="ui selection dropdown">
						<input type="hidden" name="category">
						<i class="dropdown icon"></i>
						<div class="default text">tag</div>
						<div class="menu">
						  <div class="item">tag1</div>
						  <div class="item">tag2</div>
						  <div class="item">tag3</div>
						</div>
					</div>
					<div class="button ui showForm">New tag</div>
		  		</div>
				<div class="flexContainer add hidden">
					<input type="text">	
					<div class="button ui primary">Add</div>
					<div class="button ui cancel">Cancel</div>
				</div>
		  	</div>
		  </div>
		  <div class="ui divider"></div>


		  <!-- Content -->
		  <div class="field">
		    <label>Content</label>
		    <textarea></textarea>
		  </div>
		</div>

		<!-- Button -->
		<div class="buttonsContainer">
			<button class="button ui">Cancel</button>
			<button class="button ui primary">Publish</button>
		</div>
	</form>

</main>

{% include 'Includes/footer.twig' %}

