
{% include 'Includes/head.twig' %}

{% include 'Includes/header.twig' %}

<div class="topContent writer">
	
</div>

<main class="writer create">
	<form method="POST" action="writerCreate">
		<div class="ui form">
			<!-- Title -->
		  <div class="field">
		    <label>Title</label>
		    <input type="text">
		  </div>
		  <div class="ui divider"></div>

		  <!-- Image -->
		  <div class="field">
		  	<label>Upload Image</label>
		  	<div class="flexContainer">
			  	<input type="file" name="pic" accept="image/*">
		  	</div>
		  </div>
		  <div class="ui divider"></div>

		  <!-- category -->
		  <div class="field">
		  	<label>Category</label>
		  	<div class="flexContainer">
			  	<div class="ui selection dropdown">
					<input type="hidden" name="category">
					<i class="dropdown icon"></i>
					<div class="default text">Category</div>
					<div class="menu">
					  <div class="item">cat1</div>
					  <div class="item">cat2</div>
					  <div class="item">cat3</div>
					</div>
				</div>
				<div class="button ui showForm">+</div>
				<div class="flexContainer">
					<input type="text">	
					<div class="button ui primary">Add</div>
				</div>
		  	</div>
		  </div>

		  <!-- Tags -->
		  <div class="field">
		  	<label>Tag</label>
		  	<div class="flexContainer">
			  	<div class="ui selection dropdown">
					<input type="hidden" name="tag">
					<i class="dropdown icon"></i>
					<div class="default text">Tag</div>
					<div class="menu">
					  <div class="item">Tag1</div>
					  <div class="item">Tag2</div>
					  <div class="item">Tag3</div>
					</div>
				</div>
				<div class="button ui showForm">+</div>
				<div class="flexContainer">
					<input type="text">	
					<div class="button ui primary">Add</div>
				</div>
		  	</div>
		  </div>
		  <div class="ui divider"></div>


		  <!-- Content -->
		  <div class="field">
		    <label>Content</label>
		    <textarea name="content"></textarea>
		  </div>
		</div>

		<!-- Button -->
		<div class="buttonsContainer">
			<button class="button ui">Cancel</button>
			<button class="button ui primary">Publish</button>
		</div>
	</form>

</main>

{% include 'Includes/footer.twig' %}

