.homeArticle
{
	background-image: url(../../Webroot/Img/mononoke_by_etoli2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	article
	{
		>div.ui.raised
		{
			padding:0;
			img 
			{
				width: 100%;
			}
			>div.main-content
			{
				padding:2em;
				>div:first-child
				{
					h2
					{
						margin-bottom:0.55em;
						&:first-letter
						{
							text-transform:capitalize;
						}
					}
				}
			}
		}
	}
}