.homeArticle
{
	background-image: url(../../Webroot/Img/mononoke_by_etoli2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	article
	{
		>div.ui.raised
		{
			padding:0;
			img 
			{
				width: 100%;
			}
			>div.main-content
			{
				padding:2em;
				>div:first-child
				{
					h2
					{
						margin-bottom:0.55em;
						&:first-letter
						{
							text-transform:capitalize;
						}
					}
					p.editDate
					{
						color:rgba(0, 0, 0, 0.5);
						font-style: italic;
					}
					p.author
					{
						margin-bottom:0.2em;
					}
					p.content
					{
						margin-top:1em;
					}
					.flexContainer.tags
					{
						display:flex;
						justify-content: space-between;
					}
				}
			}
		}
	}
}