.homeArticle
{
	article
	{
		>div.ui.raised
		{
			padding:0;
			img 
			{
				width: 100%;
			}
			>div.main-content
			{
				padding:2em;
				>div:first-child
				{
					h2
					{
						&:first-letter
						{
							text-transform:capitalize;
						}
					}
					p.editDate
					{
						color:rgba(0, 0, 0, 0.5);
						font-style: italic;
					}
					p.author
					{
						margin-bottom:0.2em;
					}
					p.content
					{
						margin-top:1em;
					}
				}
			}
		}
	}
}