body
{
	background-color:#f7f7f7;
    .topContent.writer
    {
    	padding-top:2em;
    	display:flex;
    	padding-top: 55px;
	    padding-bottom: 26px;
	    background-image: url(../../Webroot/Img/mononoke.jpg);
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center bottom;
    	.ui.search
    	{
    		display:flex;
    		flex:1;
    		.ui.input
    		{
    			margin: 0 auto;
				width: 100%;
				max-width:800px;
    		}
    	}
    }
	main
	{
	    padding: 0 3vw;
	    &.writer
	    {
    	    width: 60%;
    		min-width: 1000px;
    		margin:0 auto;
	    	>button.ui.button

	    	{
    		    margin: 21px 0 0 auto;
    			display: block;
	    	}
	    	button + .items
	    	{
	    		margin-top:2em;
	    	}
	    	.items
	    	{
    		    padding: 1.5em;
    			margin: 1em 0 0;
    			background-color:white;
    			height: 170px;
    			box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    			.item
    			{
    				height:100%;
    				>.image
    				{
					    display: flex;
					    align-items: center;
					    justify-content: center;
					    overflow: hidden;
					    height: 100%;
					    >img
					    {
				    	    height: 100%;
    						width: auto;
					    }
    				}
    			}
				.article-title
				{
					&:first-letter
					{
						text-transform: uppercase;
					}
				}
	    	}
	    	.comments
	    	{
    		    background-color: white;
			    margin-bottom: 0.85em;
			    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
			    padding: 0.8em 2em;
			    text-align: right;
			    color: rgba(0,0,0,.6);
	    	}
	    	&.create
	    	{
	    		form
	    		{
	    			width:100%;
	    			max-width:800px;
	    			margin:2em auto;
	    			.buttonsContainer
	    			{
	    				display:flex;
	    				justify-content: flex-end;
	    				margin-top: 2em;
	    				button + button
	    				{
	    					margin-left:8px;
	    				}
	    			}
	    			.ui.form .field>label
					{
						font-size: 1.2em;
						margin-bottom: 13px;
					}
					.ui.form textarea:not([rows])
					{
						height:35em;
						max-height:inherit;
					}
					.flexContainer
					{
						display:flex;
						.ui.selection.dropdown
						{
						    width: 40%;
						}
						div.button.showForm
						{
							margin-left:8px;
						}
						>.flexContainer
						{
							display:none;
							flex:1;
							margin-left:2em;
							&.active
							{
								display:flex;
							}
							input
							{
								flex:1;
							}
							div.button
							{
								margin-left:8px;
							}
						}

					}
					.ui.divider
					{
						margin-top:2em;
					}
	    		}
	    	}
	    }
	}
	//background-color:yellow;
}